
.container{
       border: 1px solid black; 
       width: 70%;
       margin: auto;

       display: flex;
       justify-content: center; 

}
.subpadre{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.subpadre div {
     width: 90px;
     height: 90px;
     background: brown;
     margin: 5px;
}


